
:root {

    --main-color: #0a557e;
    --secondary-color: #c4c691;
}

html {
    /* height: 100vh; */

    
    /* background-color: #eee; */
}

.box-container {
    /* box height */
    --_bh: 0.6rem;
    /* box border width */
    --_bbw: 3px;
    /* box hover height */
    --_bhh: calc(var(--_bh) * 0.3);

    background-color: var(--main-color);
    border: solid var(--main-color);
    border-width: 
        var(--_bbw)
        var(--_bbw)
        calc(var(--_bh) + var(--_bbw))
        calc(var(--_bh) + var(--_bbw))
    ;
    clip-path: polygon(
        0% var(--_bh),
        var(--_bh) 0%,
        100% 0%,
        100% calc(100% - var(--_bh)),
        calc(100% - var(--_bh)) 100%,
        0% 100%
    );

    &[hoverable]{
        transition: .15s;
        cursor: pointer;
        user-select: none;
        
        .box-content {
            background-color: white;
            transition: .15s;
        }
    
        &:hover {
            clip-path: polygon(
                0% var(--_bh),
                calc(var(--_bh) - var(--_bhh)) var(--_bhh),
                calc(100% - var(--_bhh)) var(--_bhh),
                calc(100% - var(--_bhh)) calc(100% - var(--_bh) + var(--_bhh)),
                calc(100% - var(--_bh)) 100%,
                0% 100%
            );

            .box-content {
                translate: calc(var(--_bhh) * -1) var(--_bhh);
            }
        }
        
        &:active {
            --_bhh: calc(var(--_bh) * 0.6);
            clip-path: polygon(
                0% var(--_bh),
                calc(var(--_bh) - var(--_bhh)) var(--_bhh),
                calc(100% - var(--_bhh)) var(--_bhh),
                calc(100% - var(--_bhh)) calc(100% - var(--_bh) + var(--_bhh)),
                calc(100% - var(--_bh)) 100%,
                0% 100%
            );

            .box-content {
                translate: calc(var(--_bhh) * -1) var(--_bhh);
            }
        }
    }
}


/* home */
.home {
    --_home-bh: 0.6rem;
    --_home-bbw: 3px;

    --_bh: var(--_home-bh);
    --_bbw: var(--_home-bbw);
    --_home-section-padding: 2rem;

    position: relative;
    padding: var(--_home-section-padding);
    width: 100%;
    height: 100dvh;

    .box-container {
        --_bh: var(--_home-bh);
        --_bbw: var(--_home-bbw);
        --_bhh: calc(var(--_bh) * 0.3);
    }
}

nav {
    translate: 0 calc(var(--_bh) + var(--_bbw));

    display: grid;
    justify-items: start;

    .box-container {
        margin-top: calc((var(--_bh) + var(--_bbw)) * -1);
    }

    .box-content {
        padding: 0.5rem 0.75rem;
        font-size: 1.5rem;
    }
}

.nav-home {
    padding: 1.25rem !important;

    display: flex;
    align-items: center;
    gap: 1rem;

    & img {
        height: 4rem;
    }

    & div {
        line-height: 1;
    }

    & h1 {
        font-size: 2rem;
    }

    & span {
        font-size: 1.25rem;
    }
}

.time-and-theme {
    position: absolute;
    top: var(--_home-section-padding);
    right: var(--_home-section-padding);
    
    display: flex;
    align-items: center;
    gap: 0.75rem;

    .time-container {
        font-size: 1.5rem;
        margin-top: calc(var(--_bh) / 2);

        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .time {
        /* display: flex;
        gap: 0; */

        /* & span:first-child {
            width: 2.5rem;
        }

        & span:not(:first-child) {
            width: 2rem;
            text-align: center;
        } */
    }

    .toggle-theme {
        .box-content {
            padding: 0.5rem;
        }
        
        & img {
            height: 2.5rem;
            width: 2.5rem;
        }
    }
}

.recent-news, .recent-publications {
    position: absolute;
    bottom: var(--_home-section-padding);
    
    .box-container {
        margin-top: calc((var(--_bh) + var(--_bbw)) * -1);
    }

    .home-title {
        padding: 0.5rem 0.75rem;
        font-size: 1.5rem;
    }
}

.recent-news {
    left: var(--_home-section-padding);
    width: 40dvw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .box-container:has(.home-content) {
        width: 100%;
    }

    .home-content {
        /* width: 100%; */
        height: 2.2rem;
        padding: 0.5rem 0;
    }

    .ticker-wrap {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .ticker-bundle {
        display: inline-block;
        white-space: nowrap;
        animation: ticker-animation 50s linear infinite;
        /* translate: -50% 0; */
    }

    .ticker-item, .ticker-item-copy {
        /* translate: -100% 0; */
        margin-right: 7rem;
        white-space: nowrap;
    }
}

@keyframes ticker-animation {
    0% {translate: 0% 0;}
    100% {translate: -50% 0;}
}

.recent-publications {
    right: calc(var(--_home-section-padding) + var(--_bh) + var(--_bbw));
    width: calc(40dvw - var(--_bh));

    display: grid;
    justify-items: start;

    .recent-publications-container {
        z-index: 2;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 1rem; */

        & a {
            text-decoration: none;
        }

        .box-content {
            height: 5.1rem;
            width: 100%;
        }

        & p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
                    /* line-clamp: 3; */
            -webkit-box-orient: vertical;
        }

        & .box-container:first-child {
            z-index: 3;
        }
    }

    .box-container {
        margin-right: calc((var(--_bh) + var(--_bbw)) * -1);
    }

    .home-content {
        padding: 0.75rem;
    }
}

.home-picture {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 60%;
    /* border: 2px solid black; */
}

.scroll-down {
    position: absolute;
    bottom: var(--_home-section-padding);
    left: 50%;
    translate: -50% 0;
    cursor: pointer;
    user-select: none;
    transition: .15s;

    display: flex;
    flex-direction: column;
    align-items: center;

    & span {
        font-size: 1.5rem;
        transition: .15s;
    }

    &:hover {
        translate: -50% -2px;
        & span {
            translate: 0 4px;
        }
    }

    &:active {
        translate: -50% -2px;
        & span {
            translate: 0 6px;
        }
    }

}


/* people */
.people {
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    
    & h2 {
        position: relative;
        font-size: 2rem;
        font-weight: 500;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 1rem;
            height: 0.4rem;
            background-color: var(--secondary-color);
            margin-left: 0.4rem;
            translate: 0 -50%;
        }
    }

    .box-container {
        --_bh: 0.8rem;
        --_bbw: 0px;
        --_bhh: calc(var(--_bh) * 0.3);
    }
}

.people-block {
    margin-block-start: 1rem;
}

.people-section[PI] {
    .people-block {
        display: flex;
        align-items: flex-end;
        gap: 1.5rem;
    }

    .box-container {
        width: 20rem;
    }

    .people-name {
        font-size: 2.5rem;
    }

    & p {
        font-size: 1.5rem;
        margin-block-start: 1rem;
    }

    & span {
        translate: 0 0.2rem;
        margin-inline-end: 0.3rem;
    }
    
}

.people-section[GS] {
    .people-block {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .box-container {
        width: 12rem;
    }

    .people-name {
        font-size: 1.5rem;
    }
}

.people-block-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 3rem;
}