
:root {
    --border-width: 3px;
    --box-height: 0.6rem;
    --main-color: #0a557e;
}

html {
    /* height: 100vh; */

    
    /* background-color: #eee; */
}

.box-container {
    --_hover-height: calc(var(--box-height) * 0.3);

    background-color: var(--main-color);
    border: solid var(--main-color);
    border-width: 
        var(--border-width)
        var(--border-width)
        calc(var(--box-height) + var(--border-width))
        calc(var(--box-height) + var(--border-width))
    ;
    clip-path: polygon(
        0% var(--box-height),
        var(--box-height) 0%,
        100% 0%,
        100% calc(100% - var(--box-height)),
        calc(100% - var(--box-height)) 100%,
        0% 100%
    );
    transition: .15s;
    cursor: pointer;
    user-select: none;
    
    .box-content {
        background-color: white;
        transition: .15s;
    }
    
    &:hover {
        clip-path: polygon(
            0% var(--box-height),
            calc(var(--box-height) - var(--_hover-height)) var(--_hover-height),
            calc(100% - var(--_hover-height)) var(--_hover-height),
            calc(100% - var(--_hover-height)) calc(100% - var(--box-height) + var(--_hover-height)),
            calc(100% - var(--box-height)) 100%,
            0% 100%
        );

        .box-content {
            translate: calc(var(--_hover-height) * -1) var(--_hover-height);
        }
    }
    
    &:active {
        --_hover-height: calc(var(--box-height) * 0.6);
        clip-path: polygon(
            0% var(--box-height),
            calc(var(--box-height) - var(--_hover-height)) var(--_hover-height),
            calc(100% - var(--_hover-height)) var(--_hover-height),
            calc(100% - var(--_hover-height)) calc(100% - var(--box-height) + var(--_hover-height)),
            calc(100% - var(--box-height)) 100%,
            0% 100%
        );

        .box-content {
            translate: calc(var(--_hover-height) * -1) var(--_hover-height);
        }
    }
}

.home {
    --_section-home-padding: 2rem;
    position: relative;
    padding: var(--_section-home-padding);
    width: 100dvw;
    height: 100dvh;
}

nav {
    translate: 0 calc(var(--box-height) + var(--border-width));

    display: grid;
    justify-items: start;

    .box-container {
        margin-top: calc((var(--box-height) + var(--border-width)) * -1);
    }

    .box-content {
        padding: 0.5rem 0.75rem;
        font-size: 1.5rem;
    }
}

.nav-home {
    padding: 1.25rem !important;

    display: flex;
    align-items: center;
    gap: 1rem;

    & img {
        height: 4rem;
    }

    & div {
        line-height: 1;
    }

    & h1 {
        font-size: 2rem;
    }

    & span {
        font-size: 1.25rem;
    }
}

.time-and-theme {
    position: absolute;
    top: var(--_section-home-padding);
    right: var(--_section-home-padding);
    
    display: flex;
    align-items: center;
    gap: 0.75rem;

    .time {
        font-size: 1.5rem;
        margin-top: calc(var(--box-height) / 2);

        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .toggle-theme {
        .box-content {
            padding: 0.5rem;
        }
        
        & img {
            height: 2.5rem;
            width: 2.5rem;
        }
    }
}

.recent-news, .recent-publications {
    position: absolute;
    bottom: var(--_section-home-padding);

    display: grid;
    justify-items: start;
    /* grid-template-columns: 1fr; */
    min-width: none;
    /* max-width: 5; */
    
    .box-container {
        margin-top: calc((var(--box-height) + var(--border-width)) * -1);
    }

    

    .home-title {
        padding: 0.5rem 0.75rem;
        font-size: 1.5rem;
    }

    .home-content {
        font-size: 1rem;
    }
}

.recent-news {
    left: var(--_section-home-padding);
    width: 51%;
    /* overflow: hidden; */

    .box-container:has(.home-content) {
        width: 100%;
    }

    .home-content {
        /* position: relative; */
        width: 100%;
        height: 2.2rem;
        padding: 0.5rem 0;
        /* overflow: hidden; */
    }

    /* & p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    } */

    .ticker-wrap {
        width: 100%;
        height: 100%;
        background-color: yellow;
        overflow: hidden;
        min-width: 0;
    }

    .ticker {
        /* white-space: nowrap; */
        min-width: 0;
        /* gap: 1rem; */
    }

    .ticker-text {
        white-space: nowrap;
        min-width: 0;
    }
}

.recent-publications {
    right: calc(var(--_section-home-padding) + var(--box-height) + var(--border-width));
    width: 40%;

    .recent-publications-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 1rem; */

        .box-content {
            height: 5.1rem;
            width: 100%;
        }

        & p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
                    /* line-clamp: 3; */
            -webkit-box-orient: vertical;
        }
    }

    .box-container {
        /* height: 3rem; */
        margin-right: calc((var(--box-height) + var(--border-width)) * -1);

        &:first-child {
            z-index: 1;
        }
    }

    .home-content {
        padding: 0.75rem;
        /* overflow: hidden; */

    }
}

.home-picture {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 60%;
    /* border: 2px solid black; */
}


